[submodule "src/engine/external/socket.io-client-cpp"]
	path = src/engine/external/socket.io-client-cpp
	url = https://github.com/socketio/socket.io-client-cpp
[submodule "ddnet-libs"]
	path = ddnet-libs
	url = https://github.com/PulseClient-ddnet/pulse-libs
	shallow = true
